*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    background:linear-gradient(-45deg,#6a5cff,#9b5cff,#ff70c7,#73b8ff);
    background-size:400% 400%;
    animation:bg 12s ease infinite;
}

@keyframes bg{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

.glass-card{
    width:90%;
    max-width:450px;
    padding:40px;
    border-radius:25px;
    text-align:center;

    background:rgba(255,255,255,.12);

    backdrop-filter:blur(18px);

    box-shadow:0 20px 45px rgba(0,0,0,.25);

    color:white;

    animation:pop .7s ease;
}

@keyframes pop{
    from{
        transform:scale(.8);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}

h1{
    font-size:2rem;
    margin-bottom:20px;
}

p{
    font-size:1.1rem;
    line-height:1.6;
}

button{
    margin-top:35px;
    padding:14px 30px;
    border:none;
    border-radius:30px;
    cursor:pointer;

    background:white;
    color:#6a5cff;

    font-size:18px;
    font-weight:bold;

    transition:.25s;
}

button:hover{
    transform:scale(1.08);
}

#buttons{
    display:flex;
    justify-content:center;
    gap:20px;
}

#noBtn{
    position:relative;
}